<div class="jumbotron">
	<h1>Pins</h1>

	<% if user_signed_in? %>
		<%= link_to "Ver pins", pins_path, class:"btn btn-primary btn-lg"%>
	<% else %>
		<%= link_to "Registrate", new_user_registration_path, class:"btn btn-primary btn-lg"%>
		<%= link_to "Inicia Sesion", new_user_session_path, class:"btn btn-primary btn-lg"%>
	<% end %>
	
</div>
