<div class="jumbotron">
	<h1>ExtraNet</h1>
	<%= link_to "Registrate", "http://www.google.com", class:"btn btn-primary btn-lg"%>
	<%= link_to "Inicia Sesion", "http://www.google.com", class:"btn btn-primary btn-lg"%>
</div>
