<div class="jumbotron">
	<h1>ExtraNet</h1>

	<% if user_signed_in? %>
		# No hacer nada por el momento
	<% else %>
		<%= link_to "Registrate", new_user_registration_path, class:"btn btn-primary btn-lg"%>
		<%= link_to "Inicia Sesion", new_user_session_path, class:"btn btn-primary btn-lg"%>
	<% end %>
	
</div>
